/* TODO: design your profile with CSS */
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    background-color: #f4f9f4 !important;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body{

}

h1{
  font-family: sans-serif, monospace, Courier;
  font-size: 30px;
  font-weight: bold;
  color: #ea4c4c !important;
}
.list a:hover{
  text-decoration: none;
}

div{
  width: 120vh;
  padding: 10px;
  margin: 20px auto;
}

.banner img{
  width: 30vh;
  height: 30vh;
  border-radius: 15vh;
}

.banner h2{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.banner{
  width: 100vh;
  height: 75vh;
}

.div_color{
  background-color: #e6e6e6;
  border-radius: 5px;
  box-shadow: 2px 5px 2px grey;
}
.list-inline li{
  display: inline-block;
  list-style: none;
  margin: 10px auto;
  padding-left: 0 ;
}
.text-center{
  text-align: center;
}

.skills_list {
  padding: 20px 20px !important;
  font-size: 2.2vh !important;
  font-family: Serif;
  font-size: 20px;
  font-weight: normal;
  justify-content: space-between;
  align-content: center;
}

.skills_list img{
  box-shadow: 2px 3px 1px rgb(0,0,0);
}

.skills_list h3{
  color: #ea4c4c !important;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 5px;
}
.skills_list ol{
  font-weight: bold;
}

.footer h2{
  font-family: Serif;
  font-size: 20px;
  font-weight: bold;
}

.footer{
  width: 120vh;
  border-radius: 5px;
  background-color: #ea4c4c !important;
}
.footer li{
  display: inline-block;
  list-style: none;
  margin: 10px auto;
  padding: 5px 20px ;
}
